
h1{
     color: #fff;
     text-align: center;
     margin-left: 90px;
     padding-top: 40px;
     padding-bottom: 40px;
     font-size: 40px;
}

p {
    padding-top: 20px;
    text-align: justify;
    margin-left: 5px;
}



#entrada{
    width: 78%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #cccc;
    color: black;
    font-weight: 500;
}

#btEntrada{
    margin-left: 20px;
    margin-right: 22px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    padding-top: 4px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;

}

div{
    list-style: none;
    padding-left: 20px;
}

.riscado{
    text-decoration: line-through;
}



.container{
    background-color: #ffff !important;
    padding: 10px 20px;
    border-radius: 5px;
}



button{
    background-color: #fff;
    color: #000000;
    text-align: right;
    text-align: center;
    width: 30px;
    height: 10%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 300px;
    margin-bottom: 15px;
}

input{
    width: 10%;
    height: 15px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#0300d1 20%, #000000 80% );
}